nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href='/')
        i.icn-logo.material-icons near_me
        | Gür Nakliyat
      .nav-items.clearfix
        a.nav-item.nav-link(href='register') Kayıt
        a.nav-item.nav-link(href='delivery') Yeni Teslimat
        a.nav-item.nav-link(href='management') Yönetim

      a.btn.btn-info.pull-md-right(href='login') Giriş Yap

